/* line 10, sass/application.sass */
body.bp {
  background-color: #f2f2f2;
  font-size: 14px;
}
/* line 13, sass/application.sass */
body.bp h1 {
  text-align: center;
  font-size: 2.5em;
  color: #882a07;
}
/* line 17, sass/application.sass */
body.bp h2 {
  color: #023b30;
  margin-bottom: 0;
}

/* line 21, sass/application.sass */
.logout {
  display: inline;
  float: right;
}

/* line 24, sass/application.sass */
#logo {
  display: inline;
  float: left;
  width: 100px;
  padding-left: 10px;
  color: #07886f;
  font-size: 40px;
  font-family: "Lucida Grande";
  font-weight: bold;
}

/* line 34, sass/application.sass */
#navBar {
  margin: 10px 0;
  background-color: #3b1000;
}
/* line 37, sass/application.sass */
#navBar ol {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 46, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_inline-block-list.scss */
#navBar ol li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  white-space: nowrap;
}
/* line 7, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#navBar ol li {
  *display: inline;
}
/* line 39, sass/application.sass */
#navBar ol li {
  padding: 5px 10px;
}
/* line 41, sass/application.sass */
#navBar ol a, #navBar ol a:visited {
  padding: 5px 5px;
  color: #82d4c9;
  text-decoration: none;
  font-size: 16px;
}

/* line 48, sass/application.sass */
body.two-col #content {
  width: 700px;
}
/* line 50, sass/application.sass */
body.two-col #content .postShow {
  padding: 20px 0;
}
/* line 52, sass/application.sass */
body.two-col #content .postShow div {
  float: left;
  margin-right: 10px;
  line-height: 2em;
}
/* line 56, sass/application.sass */
body.two-col #content .postShow .sequence {
  width: 30px;
}
/* line 58, sass/application.sass */
body.two-col #content .postShow .title {
  width: 400px;
}
/* line 60, sass/application.sass */
body.two-col #content .postShow .title a, body.two-col #content .postShow .title a:visited {
  text-decoration: none;
  font-size: 1.8em;
}
/* line 63, sass/application.sass */
body.two-col #content .postShow .date {
  width: 120px;
}
/* line 65, sass/application.sass */
body.two-col #content .postShow .admin {
  width: 80px;
}

/* line 68, sass/application.sass */
#innerContent {
  width: 680px;
  padding: 0 20px;
}

/* line 72, sass/application.sass */
body.two-col #sidebar {
  width: 240px;
}

/* line 75, sass/application.sass */
#innerSidebar {
  margin: 0 10px;
  padding: 0 10px;
  border-left: 1px solid gray;
}

/* line 80, sass/application.sass */
#footer {
  padding: 10px;
}

/* line 83, sass/application.sass */
.section {
  margin-bottom: 20px;
}
/* line 85, sass/application.sass */
.section .caption {
  margin-top: 10px;
  padding-left: 10px;
  color: black;
  background-color: #82d4c9;
  border: 1px solid black;
}
/* line 91, sass/application.sass */
.section .CodeRay {
  margin-top: 0;
}
